<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display CRUD</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Address</th>
            <th>Sex</th>
            <th>Level</th>
        </tr>
        <% for(let i = 0; i < data.length; i++){ %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].fullname %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].password %></td>
                <td><%= data[i].address %></td>
                <td><%= data[i].sex %></td>
                <td><%= data[i].level %></td>
            </tr>
        <% } %>
    </table>
</body>

</html>